
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.sidebar-nav {
    background-color: #ed994c;
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    margin: 0%;
    padding: 8px 0px 8px 0px;
    align-items: center;
}

.navitem {
 width: 20%;
 padding: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.body-wrapper{
    background-color: #9dc2ed;
}

.col-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.justcenter {
    justify-content: center;
    align-items: center;
}

.usernameLabel {
    font-size: 20px;
    font-weight: 600;
    padding-right: 8px;
}

.banner {
    width : 100%;
    padding-left: 2.5em;
}

.username {
    font-size: 16px;
    font-weight: 400;
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}
.login-form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
}
.equipment-card{
    
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    margin: 1em;
    background-color:aliceblue ;
    border-radius: .5em;
}
.item-box{
    display: flex;
    flex-direction: row;
}
.item-column{
    display: flex;
    flex-direction: column;
    
}

.loan-image{
    margin:auto 0;
    border: 1px solid black;
    border-radius: 0.5em;
    min-height: 200px;
    width:  200px;
}

.nice-button {
    background-color: #2d775d; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: .5em;    
}
.nice-button:disabled {
    background-color: grey;
}
.form-layout{
    margin:.5em;
    padding: .5em;
}
.align-center{
    align-content: center;
}

.styled-table {
    /* border-collapse: collapse; */
    margin: auto 0;
    font-size: 0.9em;
    min-width: 400px;
    
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 6.5px 5px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(235, 232, 232);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}