{% extends "./base_template.html" %}

{% block content %}
    <h1>Equipment</h1>
    {% if perms.webportal.add_loaninstance %}
      <a href="{% url 'userloans' %}">View Loans</a>
    {% endif %}
    {% if perms.webportal.delete_equipment %}
      <a href="{% url 'providerloans' %}">View Loans</a>
    {% endif %}

    <ul>
        {% for equipment in equipment %}
        <div class="equipment-card">
            <div class="item-box">
              <div class="item-column">
                <img class="loan-image" width="100" height="140"  src="{{ equipment.imgsrc }}">
              </div>
            
            <div class="item-column">
              <table>
                <tr>
                  <td>Equipment Name:{{ equipment.name }}</td>
                </tr>
                <tr>
                  <td>Desc:{{ equipment.description }}</td>
                </tr>
                </tr>
                <tr>
                  <td>Amount :{{ equipment.inventory }}</td>
                </tr>
              </table>
              {% if perms.webportal.add_loaninstance %}
                
                {% if equipment.inventory > 0 %}
                  <a href="{% url 'loanEquipment' equipment.id %}">Loan Out</a>
                {% else %}
                  <p>No Items Available</p>
                {% endif %}
                
              {% endif %}
              {% if perms.webportal.delete_equipment %}
                <a href="{% url 'equipmentdelete' equipment.id %}">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
        
    {% empty %}
        <li>No Equipment Available</li>
    {% endfor %}
    {% if perms.webportal.add_equipment %}
    <h2>Add new Equipment</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ createform.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    </ul>
{% endblock %}