{% extends "./base_template.html" %}

{% block content %}
<div class="col-container">
  <div>
    <div class="banner" >
      <h1>Equipment</h1>
    </div>
    <div class="col-container justcenter">
      {% for equipment in equipment %}
        <div class="equipment-card">
          <div class="item-box">
            <div class="item-column">
              <img class="loan-image"  src="{{ equipment.imgsrc }}" alt="{{ equipment.name }}">
            </div>
            <div class="item-column">
              <table class="styled-table">
                <tr>
                  <td>Equipment Name:{{ equipment.name }}</td>
                </tr>
                <tr>
                  <td>Desc:{{ equipment.description }}</td>
                </tr>
                <tr>
                  <td>Amount :{{ equipment.inventory }}</td>
                </tr>
              </table>
              {% if perms.webportal.add_loaninstance %}  
                {% if equipment.inventory > 0 %}
                  <a href="{% url 'loanEquipment' equipment.id %}"><button class="nice-button">Loan Out</button></a>
                {% else %}
                  <button class="nice-button" disabled=true>No Items Available</button>
                {% endif %}  
              {% endif %}
              {% if perms.webportal.delete_equipment %}
                <a href="{% url 'equipmentdelete' equipment.id %}"><button class="nice-button">Delete</button></a>
              {% endif %}
            </div>
          </div>
        </div> 
      {% empty %}
        <li>No Equipment Available</li>
      {% endfor %}
    {% if perms.webportal.add_equipment %}
      <h2>Add new Equipment</h2>
      <div class="form-layout col-container justcenter">
        <form action="" method="POST">
        {% csrf_token %}
          <table>
            {{ createform.as_table }}
          </table>
          <div class="row-container justcenter">
            <input class="nice-button" type="submit" value="Submit">
          </div>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}