{% extends "./base_template.html" %}

{% block content %}
    <h1>Equipment</h1>
    <ul>
        {% for equipment in equipment %}
        <div class="equipment-card">
            <div class="item-box">
              <div class="item-column">
                <img class="loan-image" width="100" height="140"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdXBvqMPgDQBW5joJZh_LqTlt4GtlxKLNj1w&usqp=CAU ">
              </div>
            
            <div class="item-column">
              <table>
                <tr>
                  <td>Equipment Name:{{ equipment.name }}</td>
                </tr>
                <tr>
                  <td>Desc:{{ equipment.description }}</td>
                </tr>
                </tr>
                <tr>
                  <td>Amount :{{ equipment.inventory }}</td>
                </tr>
              </table>
              <a href="{% url 'equipmentdelete' equipment.id %}">Delete</a>
            </div>
          </div>
        </div>
        
    {% empty %}
        <li>No Equipment Available</li>
    {% endfor %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
        {{ createform.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    
    </ul>
{% endblock %}