{% extends "./base_template.html" %}
  
{% block content %}
  <h1>Your Loans</h1>
  <p>
    Welcome {{ atuser }}!
    You have {{ num_userloans }} loans. 
    <table>
      <tr>
        <th>Current Loans</th>
      </tr>
      {% for loan in userloans %}
        
        <tr>
          <td>LoanId: {{loan.id}}</td>
        </tr>
        <tr>
          <td>Equipment: {{loan.equipment.name}} </td>
        </tr>
        <tr>
          <td>Description: {{loan.equipment.description}}</td>
        </tr>
        <tr>
          <td>Category: {{loan.equipment.atcategory}}</td>
        </tr>
        <tr>
          <td><br><td>
        </tr>
        
      {% endfor %}
      
    </table>
  </p>
{% endblock %}