{% extends "./base_template.html" %}
  
{% block content %}
  <h1>Your Loans</h1>
  <p>
    Welcome {{ atuser }}!
    You have {{ num_userloans }} loans. </p>
      
      {% for loan in userloans %}
      <div class="equipment-card">
        <div class="item-box">
        <div class="item-column">
          <img class="loan-image" width="100" height="140"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdXBvqMPgDQBW5joJZh_LqTlt4GtlxKLNj1w&usqp=CAU ">
        </div>
        
        <div class="item-column">
          <table>
            <tr>
              <td>Loan Item:{{loan.id}}</td>
            </tr>
            
            <tr>
              <td>Equipment: {{loan.equipment.name}} </td>
            </tr>
            <tr>
              <td>Description: {{loan.equipment.description}}</td>
            </tr>
            <tr>
              <td>Category: {{loan.equipment.atcategory}}</td>
            </tr>
            <tr>
              <td>Provider: {{loan.provider.name}}</td>
            </tr>
            <tr>
              <td><br><td>
            </tr>
          </table>
        </div>
      </div>
    </div>
        
      {% endfor %}
      
    </table>
{% endblock %}